<%= form_with model: @post do |form| %>
  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %> 
  
   
  
<div class="field" class="row g-3">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
   
   

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>